@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root * {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.App {
  text-align: center;
  height: 100vh; 
}

.flex-container {
  padding: 2em 3em 2em 0;
  height: calc(100% - 15vh);
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 5%;
}

.flex-item1, .flex-item2 {
  display: block;

  flex-grow: 0;
  flex-shrink: 0;
}

.flex-item1 {
  flex-basis: 30%;
}

.flex-item2 {
  flex-basis: 60%;

  border: 0.1vh solid grey;
  border-radius: 10px;
}

.vertical-line {
  border-left: 0.1vh solid grey;
}

h1, h3, p {
  margin: 0.5vh;
}

h1 {
  font-size: 2.8vh;
}

h3 {
  font-size: 2vh;
}

p {
  font-size: 1.8vh;
}

.articleBox {
  border: 0.1vh solid grey;
  border-radius: 1vh;
}


li {
  list-style: none;
  padding-bottom: 0.7vh ;
}

ul {
  margin: 0;
}

input {
  width: 25vw;
  height: 4.5vh;
  border: none;
  border-bottom: 0.1vh solid grey;
  font-size: 2vh;  
  
  position: relative;
  right: 35vw;

  padding-top: 1vh;
}

input:focus {
  outline: none;
}

.pagination {
  padding: 1vh;
}

.paginationButton {
  border: 0.1vh solid grey;
  border-radius: 2vh;
  font-size: 3vh;
  padding: 0 1vh;
}


